.chat-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px;
  min-height: 100vh;
}

.chat-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatMsg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.chatEntry {
  margin: 5px 0;
}

.userName {
  font-weight: bold;
}

.msg {
  margin-left: 5px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

form.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
}