.Chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.MessagesHeader::after {
  content: "";
  display: block;
  height: 3px; /* Height of the line */
  background-color: black; /* Color of the line */
  width: 80%; /* Adjust this value to control the width of the line */
  margin: 0 auto; /* Centers the line horizontally */
}

.Messages {
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  margin-left: 10px;
  margin-top: 4px;
}

.MessageEntry {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  max-width: calc(100% - 30px);
  
}

.MyMessage {
  background-color: #d974ee;
  border: #d974ee;
  color: white;
}

.UserName {
  font-weight: bolder;
}

.NewMessage:before {
  content: "";
  display: block;
  height: 3px; /* Height of the line */
  background-color: black; /* Color of the line */
  width: 80%; /* Adjust this value to control the width of the line */
  margin: 0 auto; /* Centers the line horizontally */
}

.MessageInput {
  display: flex;
  margin: 0 auto;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 45px);
}

.SendButton {
  justify-content: center;
  display: flex;
  margin: 0 auto;

  /* width: calc(100% - 40px); */
}