.FormPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
    border-radius: 10px;
    padding: 10px;
    margin: 3px; 
    border-radius: 10px;
    padding: 10px;
}



.link{
    cursor: pointer;
    color: blue;
    font-weight: bold;
}