.LobbyGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
}

.CreateGameButton {
  background: rgb(61, 175, 41);
}

.CreateGameButton:hover {
  background: rgb(37, 120, 26);
}

.Rooms {
  display: grid;
  grid-template-rows: auto 1fr;
  text-justify: center;
}

.RoomList {
  height: 75vh;
  overflow-y: auto;
}

.Room {
  background: rgb(189, 189, 189);
  color: black  ;
}

.Room:hover {
  background: rgb(255, 255, 255);
}