#TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
    height: 60px;
}

#title {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}

#userPart {
    float: right;
    white-space: nowrap;
    cursor: default;
}

#userName {
    text-align: right;
    display: block;
    margin-bottom: 2px;
}

#changeUser {
    display: block;
    cursor: pointer;
    font-size: small;
    text-align: right;
}